target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.idea
.mvn/wrapper/maven-wrapper.jar
*.iml
src/main/java/nu/t4/opendata/backend/beans/WebScraperBean.java
src/main/java/nu/t4/opendata/backend/beans/CarBean.java
src/main/java/nu/t4/opendata/backend/entities/CarBuilder.java
